---
import Layout from "../layouts/Layout.astro"
//import Form from "../components/Form.astro"
import Form from "../components/React/login.tsx"
---

<Layout title="Login SCOUT">
 <Form client:load></Form>
</Layout>