---

---

<section class="container mx-auto max-w-fit py-40">
  <div
    class="bg-white h-72 w-96 rounded-xl box-border border-solid border-2 border-black"
  >
    <header class="flex justify-center bg-orange-400 h-16 rounded-xl">
      <h1 class="text-white text-2xl content-center"><b>LOGIN</b></h1>
    </header>
    <div class="grid grid-rows-3 mx-10">
      <div class="my-4">
        <p>Usuario</p>
        <input
          placeholder="Usuario"
          class="border-solid border-2 border-black w-full rounded-lg pl-2 h-7"
        />
      </div>
      <div>
        <p>Contraseña</p>
        <input
          placeholder="Contraseña"
          class="border-solid border-2 border-black w-full rounded-lg pl-2 h-7"
        />
      </div>
      <div class="w-24 mx-auto">
        <a
          href="/home"
          class="block w-full h-9 text-center leading-8 rounded-lg border border-solid border-blue-600 bg-blue-600 hover:bg-blue-400 text-white font-bold"
          >Ingresar</a
        >
      </div>
    </div>
  </div>
</section>
